# Rust artifacts
Cargo.lock
target/

# Node artifacts
build/
prebuilds/
node_modules/
*.tgz

# Swift artifacts
.build/

# Go artifacts
go.sum
_obj/

# Python artifacts
.venv/
dist/
*.egg-info
*.whl

# C artifacts
*.a
*.so
*.so.*
*.dylib
*.dll
*.pc

# Example dirs
# /examples/*/

# Grammar volatiles
*.wasm
*.obj
*.o
/Cargo.toml
/Makefile
/Package.swift
/binding.gyp
/bindings/
/log.html
/package.json
/pyproject.toml
/setup.py
/src/grammar.json
/src/node-types.json
/src/parser.c
/src/tree_sitter/
